
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#navbar{
   height: 110px;
   width: 100%;
   /* border: 1px solid red; */
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
} 
#nav_box1{
  display: flex;
  gap: 20px;
  /* border: 1px solid green; */
  height: 70px;
}
#main_logo{
  height: 58px;
  width: 185px;
  margin-top: 10px;
  margin-left: 16px;
}
#search_box{
  height: 25px;
  width: 290px;
  margin-top: 30px;
  border: 1px solid rgb(218, 218, 218);
  margin-left: 20px;
  padding-left: 10px;
  display: flex;
}

#search_box>input{
  height: 100%;
  width: 100% ;
  border: none;
  outline: inherit;
}

#search_box>img{
  height: 28px;
  width: 27px;
  /* margin-left: 5px; */
  /* margin-top: 1px; */
  margin-right: 3px;
  cursor: pointer;
  margin-bottom: 2px;
}

#small_text{
  display: flex;
  margin-left: 340px;
  /* justify-content: 50px  auto right; */
  margin-top: 20px;
}

.s_text{
height: 10px;
border-right: 1px solid black;
font-family: 'Poppins', sans-serif;
font-size: 11px;
margin-left: 3px;
padding-right: 3px;
padding-bottom: 4px;
cursor: pointer;
}
.s_text:hover{
  text-decoration-line: underline;
}
#s_text2{
height: 10px;
/* border-right: 1px solid black; */
font-family: 'Poppins', sans-serif;
font-size: 11px;
margin-left: 3px;
padding-right: 3px;
padding-bottom: 3px;
cursor: pointer;
}
#s_text2:hover{
  text-decoration-line: underline;
}
#cart_logo{
  height: 20px;
  width: 20px;
  margin-top: 25px;
  margin-left: 10px;
}
#cart_count{
  margin-top: 20px;
  margin-left: -19px;
  font-size: 10px;
}
#cart_logo2{
  height: 20px;
  width: 20px;
  margin-top: 25px;
  margin-left: 10px;
}
#nav_box2{
  display: flex;
  cursor: pointer;
  gap: 30px;
}
#nav2_text1{
height: 10px;
/* border-right: 1px solid black; */
font-family: 'Poppins', sans-serif;
font-size: 12px;
margin-left: 80px;
padding-right: 3px;
padding-bottom: 3px;
cursor: pointer;
margin-top: 14px;
}
#nav2_text2{
height: 10px;
/* border-right: 1px solid black; */
font-family: 'Poppins', sans-serif;
font-size: 11px;
margin-left: 80px;
padding-right: 3px;
padding-bottom: 3px;
cursor: pointer;
margin-top: 14px;
}
.nav2_text{
height: 10px;
/* border-right: 1px solid black; */
font-family: 'Poppins', sans-serif;
font-size: 11px;
margin-left: 3px;
padding-right: 3px;
padding-bottom: 3px;
cursor: pointer;
margin-top: 14px;
}
