#parent{
    border: 1px solid #d2d2d2;
    display: flex;
    
    width: 93%;
    margin: auto;
}
#child1{
   /* border:  1px solid; */
    width: 80%;
    margin-left: 15px;
    margin-bottom: 50px;
}
/* #details{
    border: 1px solid;
} */

#header{
    color: #f79429;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    
}
#ads{
    display: flex;
    gap: 10px;
    
    padding-bottom: 30px;
}


#fb{
    display: flex;
    height: 1.7em;
    background-color:#4966b6 ;
    width: 20%;
    border-radius: 2px;
    
}
#fb>p{
    margin: auto;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    
}
#fbimg{
    width:12%;
    height: 1.4em;
    margin:3px 0px 0px 3px;
    border-radius: 2px;
}
#g{
    display: flex;
    height: 1.7em;
    background-color:#4285f4 ;
    width: 20%;
    border-radius: 2px;
    
}
#g>p{
    margin: auto;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    
}
#gimg{
    width:12%;
    height: 1.4em;
    margin:3px 0px 0px 3px;
    border-radius: 2px;
}
input{
    width: 98%;
    padding-bottom: 12px;
    padding-top: 12px;

}
input[type='text']::placeholder
    {   
        
        text-align: start;      /* for Chrome, Firefox, Opera */
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        color:darkgray;    
    }
   
    p{
        font-size: 12px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 25px;
    }
    button{
        width: 80.8%;
        background-color: #f79429;
        color: white;
        padding: 10px;
        border: none;
        margin-top:40px;
    }
   
    #line{
        border-bottom: 1px solid #f0f0f0 ;
        display: block;
        width: 80%;
    }
    #bottom{
        text-align: center;
        margin-top: 30px;
    }
    #bottom>:nth-child(2){
        margin-top: 10px;
    }
    #link2{
        color: #79b5e3;
        text-decoration: none;
    }
    #link1{
        color: rgb(139,135,130);
    }

    #child2{
        border: 1px solid #d2d2d2;
        width: 90%;
        height: 17.5em;
        margin:15px 25px
    }
    #text1>p{
        font-size: 14px;
        font-weight: bold;
        color: #455a65;
        text-align: center;
        margin: 18px 18px;
    }
    #line2{
        border-bottom: 1px solid #d2d2d2;
        display: block;
        
    }

    .price1{
        display: flex;
        font-weight: bold;
        margin-left: 10px;
        

        
    }
    #price2{
        display: flex;
       font-weight: bold;
       margin-left: 10px;
    }

    .price1>p{
        font-size: 14px;
        color: #455a65;
        margin-bottom: -20px;
    }
    #price2>p{
        font-size: 14px;
        color: #455a65;
        margin-bottom: 30px;
    }

    .price1>p:last-child{
        color:#b04677 ;
    }
    #price2>p:last-child{
        color:#5676b4  ;
    }
    #line3{
        border-bottom: 1px solid #f0f0f0;
        display: block;
        width: 95%;
        margin: auto;
        
    }
    #cartBtn{
        width: 95%;
        margin-left: 11px;
        background-color: white;
        color: #f79429;
        border-color: #f79429;
        border: 1px solid;

    }
    #box{
        
        width: 35%;
        
        
    }
    #mnLogo>img{
        width: 25%;
        display: block;
        margin: auto;
        margin-bottom: -15px;
    }
    #mnLogo>p{
        text-align: center;
        color: #455a65;
        font-weight: bold;

    }

    #dialogue{
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: -15px;
    }
    #line4{
        border-bottom: 4px solid #f79429;
        display: block;
        width:10%;
        margin: auto;
        margin-top: 23px;
    }
    
    
   


    
    



